angle_emb==0.4.4
bittensor==7.1.1
bs4==0.0.2
click==8.1.3
datasets==2.14.6
deprecation==2.1.0
torch==2.3.0
torchmetrics
pre-commit==3.3.2
git+https://github.com/synapse-alpha/mathgenerator.git@main#egg=mathgenerator
numpy==1.22.0
rouge==1.0.1
scipy==1.10.1
sentencepiece
wandb==0.15.10
tenacity
antlr4-python3-runtime==4.11
wikipedia==1.4.0
openai==1.9.0
langchain==0.2.1
langchain_core==0.2.3
langchainhub==0.1.14
python-dotenv==1.0.1
wikipedia_sections==2.0.0
vllm==0.4.3
loguru==0.7.2
argostranslate==1.9.6
python-dotenv
wikipedia_sections
vllm
loguru
argostranslate
transformers==4.41.2
autoawq==0.2.5
