bittensor==6.6.0
torch==2.1.1
transformers==4.36.2
wandb==0.15.10
datasets==2.14.6
plotly==5.14.1
scipy==1.10.1
pre-commit==3.3.2
click==8.1.3
torchmetrics
sentencepiece
numpy==1.22.0
mathgenerator # TODO: Use our own fork
wandb
angle_emb
rouge
bs4